body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 0 95px;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.nav-heading{
    margin-bottom: 25px;
    font: bold 24px Arial;
    letter-spacing: 1px;
    color: #bfbfbf;
    text-transform: uppercase;
}
nav {
    display: block;
}
div{
    display: block;
}
.nav-bar{
    border-radius: 3px;
    background-color: #2a3644;
}
.products-menu{
    display: flex;
    justify-content: space-between;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
ul>li>a {
    text-align: center;
    color: #fff;
    text-decoration: none;
}
li{
    display: list-item;
}
.nav-menu li{
    position: relative;
}
.nav-menu>li{
    display: inline-block;
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}
.sub {
    padding-top: 5px;
    position: absolute;
    display: none;
    width: 210px;
    z-index: 1;
}
.sub ul {
    background-color: #d2d4d5;
    border-radius: 3px;
}
ul>li {
    font: bold 16px Arial;
}